
*{
    box-sizing: border-box;
}

p{
    margin-left: 260px;
}
input{
    margin-left: 260px;
}
#checkbox{
    margin-top: 15px;
}
#button{
    margin-top: 15px;
    text-align: center;
    padding-bottom: 30px;
}
button{
    background-color: rgb(11, 184, 11);
    color: white;
    padding: 8px;
}
button:hover{
    background-color: rgb(64, 232, 64);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

input#mail:invalid:focus{
    border: 2px solid red;
}
body{
    padding: 10px;
}
#form,h1{
    background-color: rgb(242, 242, 242);
}
h1{
    text-align: center;
    margin-top: 10px;
    padding-top: 23px;
}

#form{
    margin-left: 341px;
    margin-right: 341px;
}
